@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <a href="https://github.com/aabdulwahid-wmsu">https://github.com/aabdulwahid-wmsu</a><br />
    <a href="https://github.com/rfernandez-wmsu">https://github.com/rfernandez-wmsu</a><br />

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ezz.redfox@gmail.com">ezz.redfox@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:ezz.redfox@gmail.com">ezz.redfox@gmail.com</a>
</address>